import

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns

EDA

In [4]:
series=pd.read_csv('..\Dataset\imdb_series.csv')

In [5]:
series.head()

,link,description,rating,votes,year,certificate,title,type,popularity,genre,creators,stars,country,language,production_company,duration
0,https://www.imdb.com/title/tt0903747/?ref_=sr_t_1,A chemistry teacher diagnosed with inoperable ...,9.5,"2,095,544",2008–2013,TV-MA,Breaking Bad,TV Series,NaN,"Crime,Drama,Thriller",Vince Gilligan,"Bryan Cranston,Aaron Paul,Anna Gunn",United States,"English,Spanish","High Bridge Productions,Gran Via Productions,S...",50 hours 30 minutes
1,https://www.imdb.com/title/tt30263074/?ref_=sr...,Two obsessive dreamers collide with the resist...,9.5,"51,263",2023–,NaN,Sapne Vs Everyone,TV Series,NaN,Drama,"Paramvir Cheema,Ambrish Verma,Naveen Kasturia",NaN,India,Hindi,Contagious Online Media Network,5 hours 45 minutes
2,https://www.imdb.com/title/tt5491994/?ref_=sr_t_3,David Attenborough returns with a new wildlife...,9.5,"155,845",2016,TV-G,Planet Earth II,TV Series,NaN,Documentary,"David Attenborough,Chadden Hunter,Gordon Buchanan",NaN,"United Kingdom,Germany,France,China,United States","English,French","BBC Natural History Unit (NHU),BBC America,Zwe...",4 hours 58 minutes
3,https://www.imdb.com/title/tt0185906/?ref_=sr_t_4,The story of Easy Company of the U.S. Army 101...,9.4,"514,455",2001,TV-MA,Band of Brothers,TV Series,NaN,"Drama,History,War","Scott Grimes,Damian Lewis,Ron Livingston",NaN,"United Kingdom,United States","English,Dutch,French,German,Lithuanian","DreamWorks,DreamWorks Television,HBO Films",9 hours 54 minutes
4,https://www.imdb.com/title/tt28184392/?ref_=sr...,Kaala - an aspirational rapper from Canada who...,9.4,"30,645",2023–,NaN,Chamak,TV Series,NaN,"Crime,Drama,Musical",Rohit Jugraj,"Paramvir Cheema,Isha Talwar,Akasa Singh",India,Hindi,NaN,55 minutes

In [6]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021 entries, 0 to 1020
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   link                1021 non-null   object
 1   description         1021 non-null   object
 2   rating              1021 non-null   float64
 3   votes               1021 non-null   object
 4   year                1021 non-null   object
 5   certificate         1009 non-null   object
 6   title               1021 non-null   object
 7   type                1021 non-null   object
 8   popularity          0 non-null      float64
 9   genre               1021 non-null   object
 10  creators            1020 non-null   object
 11  stars               848 non-null    object
 12  country             1021 non-null   object
 13  language            1021 non-null   object
 14  production_company  1005 non-null   object
 15  duration            1007 non-null   object
dtypes: float64(2), object(14)
memory usage: 127.8+ KB

In [18]:
series.describe()

            rating         votes
count  1021.000000  1.021000e+03
mean      7.935357  1.056794e+05
std       0.671093  1.599385e+05
min       6.000000  2.503300e+04
25%       7.500000  3.502200e+04
50%       8.000000  5.363500e+04
75%       8.400000  1.097020e+05
max       9.500000  2.250253e+06

In [19]:
series.shape

(1021, 14)

In [20]:
(series.isnull().sum()/series.shape[0] )*100#checking for null values

link                  0.0
description           0.0
rating                0.0
votes                 0.0
year                  0.0
title                 0.0
type                  0.0
genre                 0.0
creators              0.0
stars                 0.0
country               0.0
language              0.0
production_company    0.0
parentalguide         0.0
dtype: float64

drop columns

In [21]:
series.drop(['popularity'],axis=1,inplace=True)  #dropping the columns which are not required

KeyError: "['popularity'] not found in axis"

In [ ]:
series.drop(["duration"],axis=1,inplace=True)  #dropping the columns which are not required

clean the data correct dtypes

In [ ]:
series["votes"]=series["votes"].str.replace(",","").astype(int) #removing the commas and converting the datatype to float

split many values in one record into one value in one record

In [ ]:
def split_values(name):
    namelist=[]
    titles=[]
    coulmn=series[name].dropna()
    for i in range(len(coulmn)):
        value=coulmn.str.split(",").iloc[i]
        if len(value)>1:
            for j in value:
                namelist.append(j)
                titles.append(series["title"].iloc[i])
        else:
            namelist.append(value[0])  
            titles.append(series["title"].iloc[i])
    df=pd.DataFrame({"title":titles,name:namelist})
    return df

splits={}

In [ ]:
#  append in dict with key  and value 
splits["country"]=split_values("country")
splits["creators"]=split_values("creators")
splits["stars"]= split_values("stars")
splits["production_company"]=split_values("production_company")
splits["language"]=split_values("language")
splits["genre"]=split_values("genre")

explore any df in splits

In [ ]:
splits["country"].head()

               title         country
0       Breaking Bad   United States
1  Sapne Vs Everyone           India
2    Planet Earth II  United Kingdom
3    Planet Earth II         Germany
4    Planet Earth II          France

clean year column and split it

In [ ]:
years_start=[]
years_end=[]
year=series["year"]

for i in range(len(year)):
    if "–" in year.iloc[i][-1]:
        years_start.append(year.iloc[i][0:4])
        years_end.append("unfinished")

    elif "–" in year.iloc[i]:
        x=year.iloc[i].replace("–",",").split(",")
        years_start.append(x[0])
        years_end.append(x[1])
    else:
        years_start.append(year.iloc[i])
        years_end.append("unfinished")
   
series["end_year"]=[ i for i in years_end if i!=""]
series["start_year"]=years_start

series.drop(["year"],axis=1,inplace=True)

save the output of splits

In [ ]:
excel_file_path = 'splits_series.xlsx'

with pd.ExcelWriter(excel_file_path, engine='xlsxwriter') as writer:
    for sheet_name, df in splits.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

map the certificate values tio it meaning

In [ ]:
series['parentalguide'] = series['certificate'].replace({
                'PG-13': 'Teens - Age above 12',
                'TV-MA': 'Adults',
                'PG': 'Kids - with parental guidence',
                'TV-14': 'Teens - Age above 14',
                'TV-PG': 'Kids - with parental guidence',
                'TV-Y': 'Kids',
                'R': 'Adults',
                'TV-G': 'Kids',
                 'G': 'Kids',
                'NC-17': 'Adults',
                'Approved': 'Kids - with parental guidence',
                'Passed': 'Kids - with parental guidence',
                'Not Rated': 'Not Rated'
                ,'Unrated': 'Not Rated'
                ,'X': 'Adults'
                ,'M': 'Adults'
                ,'GP': 'Kids - with parental guidence'
                ,'18+': 'Adults'
                ,'13+': 'Teens - Age above 12'
                ,'M/PG': 'Kids - with parental guidence',
                np.nan: 'Not Rated'
                
})
series.drop(["certificate"],axis=1,inplace=True)

In [ ]:
series.fillna("",inplace=True)

explore the data after cleaning

In [ ]:
series.head()

,link,description,rating,votes,year,title,type,genre,creators,stars,country,language,production_company,parentalguide
0,https://www.imdb.com/title/tt0903747/?ref_=sr_t_1,A chemistry teacher diagnosed with inoperable ...,9.5,2095544,2008–2013,Breaking Bad,TV Series,"Crime,Drama,Thriller",Vince Gilligan,"Bryan Cranston,Aaron Paul,Anna Gunn",United States,"English,Spanish","High Bridge Productions,Gran Via Productions,S...",Adults
1,https://www.imdb.com/title/tt30263074/?ref_=sr...,Two obsessive dreamers collide with the resist...,9.5,51263,2023–,Sapne Vs Everyone,TV Series,Drama,"Paramvir Cheema,Ambrish Verma,Naveen Kasturia",,India,Hindi,Contagious Online Media Network,Not Rated
2,https://www.imdb.com/title/tt5491994/?ref_=sr_t_3,David Attenborough returns with a new wildlife...,9.5,155845,2016,Planet Earth II,TV Series,Documentary,"David Attenborough,Chadden Hunter,Gordon Buchanan",,"United Kingdom,Germany,France,China,United States","English,French","BBC Natural History Unit (NHU),BBC America,Zwe...",Kids
3,https://www.imdb.com/title/tt0185906/?ref_=sr_t_4,The story of Easy Company of the U.S. Army 101...,9.4,514455,2001,Band of Brothers,TV Series,"Drama,History,War","Scott Grimes,Damian Lewis,Ron Livingston",,"United Kingdom,United States","English,Dutch,French,German,Lithuanian","DreamWorks,DreamWorks Television,HBO Films",Adults
4,https://www.imdb.com/title/tt28184392/?ref_=sr...,Kaala - an aspirational rapper from Canada who...,9.4,30645,2023–,Chamak,TV Series,"Crime,Drama,Musical",Rohit Jugraj,"Paramvir Cheema,Isha Talwar,Akasa Singh",India,Hindi,,Not Rated

In [ ]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021 entries, 0 to 1020
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   link                1021 non-null   object
 1   description         1021 non-null   object
 2   rating              1021 non-null   float64
 3   votes               1021 non-null   int32
 4   year                1021 non-null   object
 5   title               1021 non-null   object
 6   type                1021 non-null   object
 7   genre               1021 non-null   object
 8   creators            1021 non-null   object
 9   stars               1021 non-null   object
 10  country             1021 non-null   object
 11  language            1021 non-null   object
 12  production_company  1021 non-null   object
 13  parentalguide       1021 non-null   object
dtypes: float64(1), int32(1), object(12)
memory usage: 107.8+ KB

In [ ]:
series.describe()

            rating         votes
count  1021.000000  1.021000e+03
mean      7.935357  1.056794e+05
std       0.671093  1.599385e+05
min       6.000000  2.503300e+04
25%       7.500000  3.502200e+04
50%       8.000000  5.363500e+04
75%       8.400000  1.097020e+05
max       9.500000  2.250253e+06

save data after clean

In [22]:
series.to_csv("series_after_cleaning.csv",index=False)